<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">We've got what you need!</h2>
            <hr class="light">
            <p class="text-faded">Easy cookie has everything you need to get your food quicly! 
            You can share your recipes with pictures and be seen by everyone in the world.</p>
            <a href="<?php echo $facebook_connect; ?>" class="btn btn-default btn-xl">
                Connect with facebook!
            </a>
        </div>
    </div>
</div>
