<div ng-controller="DashboardCtrl">
    <div class="bg-dark">
        <div class="container text-center">
            <div class="text-subheader call-to-action">
                <h2 fittext ng-max-font-size="30px" ng-min-font-size="25px">View the latest recipes!</h2>
            </div>
        </div>
    </div>
    <!-- container or container fluid -->
    <div class="container">
        <div class="row no-gutter" ng-init="getRecipes(6, 0)" style="padding-left: 10px; padding-right: 10px;">
            <div class="col-md-4 col-sm-4" ng-class="{
                'effect-recipes': recipes.length > 6 
            }" ng-repeat="item in recipes" style="padding-left: 5px; padding-right: 5px; padding-top: 10px;">
                <a href="#" class="portfolio-box img-container">
                    <img 
                        class="img-responsive img-thumbnail" 
                        src="{{ item.src_image }}">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-title text-faded">
                                TITLE: {{ item.title }}
                            </div>
                            <div class="project-name">
                                Author: {{ item.user.last_name }}, {{ item.user.first_name }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <button
                    type="button" 
                    class="btn btn-default btn-xl wow tada" 
                    ng-click="moreRecipes()">
                    See more recipes!
                </button>
            </div>
        </div>
    </aside>
</div>
