<div class="header-content">
    <div class="header-content-inner">
        <h1 fittext ng-max-font-size="65px" ng-min-font-size="35px">Discover easy recipes for cooking</h1>
        <hr>
        <p>Shared by people like you!</p>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">
            Find Out More
        </a>
    </div>
</div>
