<div class="col-sm-4 col-sm-offset-4">
    <div class="well">
        <h3>Login</h3>
        <form id="signin" name="signinForm" ng-submit="signin()" autocomplete="off" novalidate>
            <div class="form-group" ng-class="{ 'has-error': signinForm.email.$invalid && signinForm.email.$dirty }">
                <input 
                    id="email"
                    name="email"
                    type="email" 
                    class="form-control" 
                    placeholder="Email" 
                    ng-model="signin.email"
                    required >
                <p class="help-block" ng-if="signinForm.email.$error.required && signinForm.email.$dirty">This field is required.</p>
                <p class="help-block" ng-if="signinForm.email.$error.email && signinForm.email.$dirty">Please enter a valid email address.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': signinForm.password.$invalid && signinForm.password.$dirty }">
                <input 
                    id="password"
                    name="password"
                    type="password" 
                    class="form-control" 
                    placeholder="Password" 
                    ng-model="signin.password" 
                    required >
                    <p class="help-block" ng-if="signinForm.password.$error.required && signinForm.password.$dirty">This field is required.</p>
            </div>
            <div class="alert alert-danger" role="alert" ng-if="signin.error">The email and password you entered did not match our records.</div>
            <button class="btn btn-primary" ng-disabled="signinForm.$invalid">Submit</button>
        </form>
    </div>
</div>