<div class="container text-center">
    <div class="call-to-action">
        <a 
        	href="#" 
        	class="btn btn-default btn-xl wow tada" 
        	ng-click="moreRecipes()">
            See more recipes!
        </a>
    </div>
</div>
