<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <!--
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    -->
    <a class="navbar-brand page-scroll">Taste Recipes</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<!--
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="page-scroll" style="cursor: pointer;" data-pointer="about" pagescroll>
                About
            </a>
        </li>
        <li>
            <a class="page-scroll" style="cursor: pointer;" data-pointer="recipes" pagescroll>
                Latest recipes
            </a>
        </li>
        <li class="dropdown" ng-controller="MainCtrl">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="cursor: pointer;">Log in <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px; width: 300px;">
                <form id="signInForm" name="signInForm" ng-submit="signIn(signInForm)" autocomplete="off" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': signInForm.email.$invalid && signInForm.email.$dirty || signInForm.email.$invalid && signInForm.$submitted }">
                        <label class="control-label" for="sign_in_email">Email</label>
                        <input 
                            class="form-control" 
                            style="margin-bottom: 15px;" 
                            type="email" 
                            placeholder="Email" 
                            id="sign_in_email" 
                            name="email"
                            ng-model="signin.email" required>
                        <span class="help-block" ng-if="signInForm.email.$dirty && signInForm.email.$error.required || signInForm.email.$error.required && signInForm.$submitted">
                            Please enter your email.
                        </span>
                        <span class="help-block" ng-if="signInForm.email.$dirty && signInForm.email.$error.email || signInForm.email.$error.email && signInForm.$submitted">
                            Please enter a valid email address.
                        </span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': signInForm.password.$invalid && signInForm.password.$dirty || signInForm.password.$invalid && signInForm.$submitted }">
                        <label class="control-label" for="sign_in_password">Password</label>
                        <input 
                            class="form-control" 
                            style="margin-bottom: 15px;" 
                            type="password" 
                            placeholder="Password" 
                            id="sign_in_password" 
                            name="password"
                            ng-model="signin.password" required>
                        <span class="help-block" ng-if="signInForm.password.$dirty && signInForm.password.$error.required || signInForm.password.$error.required && signInForm.$submitted">
                            Please enter your password.
                        </span>
                    </div>
                    <div class="sign-up-error" ng-show="signin.error">
                    <span>The email and password you entered did not match our records. Please double-check and try again.</span>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Log in" style="margin-bottom: 15px;">
                </form>
            </div>
        </li>
        <li>
            <a class="page-scroll" style="cursor: pointer;" data-pointer="register" pagescroll>
                Sign up
            </a>
        </li>
    </ul>
</div>
-->
<!-- /.navbar-collapse -->