<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header navbar-authenticated">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand page-scroll">Easycook</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="MainCtrl">
    <ul class="nav navbar-nav navbar-right navbar-authenticated">
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="cursor: pointer;">Profile <strong class="caret"></strong></a>
            <ul class="dropdown-menu" style="color: #222222">
                <li><a href="#">My profile</a></li>
                <li><a href="#" ng-click="signOut()">Log out</a></li>
            </ul>
        </li>
        <li>
            <a style="cursor: pointer;" ng-click="openRecipe()">
                Create recipe
            </a>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->