<div class="modal-header">
    <h3 class="modal-title">Recipe: {{ recipe.title }}</h3>
</div>
<div class="modal-body modal-recipe">
    <form>
        <div class="row">
            <div class="col-md-6 row-padding-right">
                <div class="form-group">
                    <label for="recipe_title">Title</label>
                    <input
                        class="form-control"
                        id="recipe_title"
                        name="recipe_title"
                        type="text" 
                        placeholder="Insert a title in this field" 
                        ng-model="recipe.title" />
                </div>
                <div class="form-group">
                    <label for="recipe_description">Description</label>
                    <textarea
                        class="form-control"
                        id="recipe_description"
                        name="recipe_description"
                        type="textarea"
                        rows="6"
                        ng-model="recipe.description"></textarea>
                </div>
            </div>
            <div class="col-md-6 row-padding-left row-padding-right">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <div 
                        class="btn btn-success btn-upload" 
                        ngf-select 
                        ng-model="file" 
                        name="file" 
                        ngf-pattern="'image/*'"
                        ngf-accept="'image/*'" 
                        ngf-max-size="20MB" 
                        ngf-min-height="100" 
                        ngf-resize="{
                            width: 100, 
                            height: 100
                        }">Upload your image
                    </div>
                    <img ngf-thumbnail="file || '/thumb.jpg'" style="width: 250px; height: 250px">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button 
        class="btn btn-success" 
        type="button" 
        ng-click="ok()">Share your recipe!</button>
    <button 
        class="btn btn-warning" 
        type="button" 
        ng-click="cancel()">Cancel</button>
</div>