<div class="container text-center" ng-controller="MainCtrl">
    <div class="text-subheader call-to-action">
        <h2>Register</h2>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <form id="signUpForm" name="signUpForm" ng-submit="signUp(signUpForm)" autocomplete="off" novalidate>
        <h4>It's free and always will be.</h4>
        <div class="row">
            <div class="col-xs-6 col-md-6 col-with-input">
                <input
                    class="form-control input-lg"
                    type="text"
                    id="sign_up_first_name"
                    name="first_name"
                    placeholder="First name" 
                    ng-model="signup.first_name"
                    ng-maxlength="255"
                    required />
                    <p style="color: #fff;" ng-if="signUpForm.first_name.$dirty && signUpForm.first_name.$error.required || signUpForm.email.$error.required && signUpForm.$submitted">
                        Please enter your first name.
                    </p>
                    <p style="color: #fff;" ng-if="signUpForm.first_name.$dirty && signUpForm.first_name.$error.maxlength || signUpForm.email.$error.maxlength && signUpForm.$submitted">
                        The field first name needs a max of 255 characters.
                    </p>
            </div>
            <div class="col-xs-6 col-md-6 col-with-input">
                <input
                    class="form-control input-lg"
                    type="text"
                    id="sign_up_last_name"
                    name="last_name"
                    placeholder="Last name" 
                    ng-model="signup.last_name"
                    ng-maxlength="255"
                    required />
                    <p style="color: #fff;" ng-if="signUpForm.last_name.$dirty && signUpForm.last_name.$error.required || signUpForm.last_name.$error.required && signUpForm.$submitted">
                        Please enter your last name.
                    </p>
                    <p style="color: #fff;" ng-if="signUpForm.first_name.$dirty && signUpForm.first_name.$error.maxlength || signUpForm.first_name.$error.maxlength && signUpForm.$submitted">
                        The field first name needs a max of 255 characters.
                    </p>
            </div>
            <div class="col-xs-12 col-md-12 col-with-input">
                <!-- email -->
                <input
                    class="form-control input-lg"
                    type="email"
                    id="sign_up_email"
                    name="email"
                    placeholder="Email" 
                    ng-model="signup.email"
                    ng-maxlength="255"
                    required />
                    <p style="color: #fff;" ng-if="signUpForm.email.$dirty && signUpForm.email.$error.required || signInForm.email.$error.required && signUpForm.$submitted">
                        Please enter your email.
                    </p>
                    <p style="color: #fff;" ng-if="signUpForm.email.$dirty && signUpForm.email.$error.email || signUpForm.email.$error.required && signUpForm.$submitted">
                        Please enter a valid email address.
                    </p>
                    <p style="color: #fff;" ng-if="signUpForm.email.$dirty && signUpForm.email.$error.maxlength || signUpForm.email.$error.maxlength && signUpForm.$submitted">
                        The field email needs a max of 255 characters.
                    </p>
                <!-- password -->
                <input
                    class="form-control input-lg"
                    type="password"
                    id="sign_up_password"
                    name="password"
                    placeholder="Password" 
                    ng-model="signup.password"
                    required />
                    <p style="color: #fff;" ng-if="signUpForm.password.$dirty && signUpForm.password.$error.required || signUpForm.password.$error.required && signUpForm.$submitted">
                        Please enter your password.
                    </p>
                    <p style="color: #fff;" ng-if="signUpForm.password.$dirty && signUpForm.password.$error.maxlength || signUpForm.password.$error.maxlength && signUpForm.$submitted">
                        The field password needs a max of 255 characters.
                    </p>
                <!-- password confirm -->
                <input
                    class="form-control input-lg"
                    type="password"
                    id="sign_up_password_confirm"
                    name="password_confirm"
                    placeholder="Confirm password" 
                    ng-model="signup.password_confirm"
                    match="signup.password"
                    required />
                    <p style="color: #fff;" ng-if="signUpForm.password_confirm.$dirty && signUpForm.password_confirm.$error.required || signUpForm.password_confirm.$error.required && signUpForm.$submitted">
                        Please repeat your password.
                    </p>
                    <p style="color: #fff;" ng-if="signUpForm.password_confirm.$dirty && signUpForm.password_confirm.$error.match || signUpForm.password_confirm.$error.match && signUpForm.$submitted">
                        Password confirmation and Password must match.
                    </p>
            </div>
            <div class="col-xs-12 col-md-12 col-with-input">
                <label style="display: block; margin-bottom: 0px; display: inline-block; margin-right: 10px;">Gender</label>
                <label for="gender-male">
                    <input id="sign_up_gender-male" style="margin-left: 10px;" type="radio" ng-model="signup.gender" value="male" ng-change="changeGender('male')" ng-checked="true"> Male
                </label>
                <label for="sign_up_gender-female">
                    <input id="gender-female" style="margin-left: 10px;" type="radio" ng-model="signup.gender" value="female" ng-change="changeGender('female')"> Female
                </label>
                <br />
                <p class="text-faded text-terms">
                    By clicking create my account, you agree to our terms and 
                    that you have read our data use policy, including our cookie use.
                </p>
                <button class="btn btn-default btn-xl" type="submit">Create my account</button>
            </div>
        </div>
        </form>
    </div>
</div>
